{% extends 'base.html' %}
{% load static %}


{% block title %} Home {% endblock%}

{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'img/logo.png' %}" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">You Can Do ANYTHING</h1>
    </div>
</header>
<h1>
    Homepage
</h1>


{% endblock %}